

body {
    height: calc(100vh - 4px);
    width: calc(100vw - 4px);
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    background-color: lightcoral;
    border: 2px solid;
}

#header {
    flex: 0;
    display: flex;
    justify-content: space-between;
    background-color: lightcoral;
}

#footer {
    flex: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightcoral;
}

#title {
    flex: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    margin-right: 16px;
}

button {
    box-shadow: none;
    background: none;
    border: none;
}

#clear {
    flex: 0;
    display: flex;
    align-items: center;
}

#settings {
    flex: 0;
    display: flex;
    align-items: center;
}

#grid {
    display:flex;
    background-color: white;
    flex: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 20px;
    border: 2px solid;
}